<!-- This is code For REgistration form for Employees -->

<h3>Register Employee</h3>
<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="Register()" #userForm="ngForm">
        <div class="form-group">
          <label for="fistname">First Name</label>
          <input type="text" [(ngModel)]="obj.firstname" 
            class="form-control" 
            id="fistname" 
            name="fistname" 
            placeholder="Enter First Name"
            required #fistname="ngModel" pattern="[a-zA-Z]+$" minlength="1">
        </div>
        <div [hidden]="!fistname.pristine" class="alert alert-danger">*required</div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" [(ngModel)]="obj.lastname" 
              class="form-control" 
              id="lastname" 
              name="lastname" 
              placeholder="Enter Last Name"
              required #lastname="ngModel" pattern="[a-zA-Z]+$" minlength="1">
          </div>
          <div [hidden]="!lastname.pristine" class="alert alert-danger">*required</div>
          <div class="form-group">
            <label for="contactno">Contact No</label>
            <input type="text" [(ngModel)]="obj.contactno" 
              class="form-control" 
              id="contactno" 
              name="contactno" 
              placeholder="Enter 10 Digit Contact no"
              required #contactno="ngModel" minlength="10" pattern="[0-9]+$" >
          </div>
          <div [hidden]="!contactno.pristine" class="alert alert-danger">*required</div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" [(ngModel)]="obj.address" 
              class="form-control" 
              id="address" 
              name="address" 
              placeholder="Enter your Address"
              required #address="ngModel" pattern="[a-zA-Z]+$" minlength="1">
          </div>
          <div [hidden]="!address.pristine">*All Fields Required</div>
          
        <button type="submit" [disabled]="!userForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
  